pandas
pydub
Pillow
moviepy==1.0.3
numpy
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
yt-dlp
scipy
tqdm
google-generativeai==0.5.4
librosa
google-cloud-speech
pygame
assemblyai
PyPDF2
beautifulsoup4
textblob
noisereduce